<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<!-- 
  <display-name>testweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResponseDemo</display-name>
    <servlet-name>ResponseDemo</servlet-name>
    <servlet-class>ResponseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo</servlet-name>
    <url-pattern>/ResponseDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo1</display-name>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletURL</display-name>
    <servlet-name>ServletURL</servlet-name>
    <servlet-class>com.hundsun.lmm.url.ServletURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletURL</servlet-name>
    <url-pattern>/ServletURL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request</display-name>
    <servlet-name>Request</servlet-name>
    <servlet-class>com.hundsun.lmm.Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/Request</url-pattern>
  </servlet-mapping>
   -->
 	 <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   		<init-param>
      		<param-name>contextConfigLocation</param-name>
      		<param-value>classpath:spring.xml</param-value>
    	</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>

</web-app>